// Footer Stylesheet
footer {
    background-color: #242424; // 900 gray
    color: #a7a2a9; // Rose's quartz
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
    padding: 10px 0;
}
