<app-header></app-header>
<div class="container my-4">
    <div>
        <h1>Preferiti</h1>
        <ng-container *ngFor="let post of favoritePosts">
            <div class="alert alert-light" role="alert">
                {{ post }}
                <button
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    (click)="removeFromFavorites(post)"
                ></button>
            </div>
        </ng-container>
        <button class="btn btn-danger" (click)="clearFavoriteList()">
            Svuota
        </button>
    </div>

    <hr />

    <div>
        <h1>Posts</h1>

        <div class="btn-group" role="group">
            <button
                type="button"
                class="btn"
                [ngClass]="{
                    'btn-secondary': activeTabIndex === i,
                    'btn-outline-secondary': activeTabIndex !== i
                }"
                *ngFor="let tab of tabs; let i = index"
                (click)="selectTab(i)"
            >
                {{ tab.name }}
            </button>
        </div>

        <!-- Da mettere dentro il componente "post-list" -->
        <div class="my-4">
            <ng-container *ngFor="let post of postList">
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <h5 class="card-subtitle mb-2 text-body-secondary">
                            {{ post.category }}
                        </h5>
                        <p class="card-text fst-italic">
                            Data pubblicazione: {{ post.date | date }}
                        </p>
                        <p class="card-text">
                            {{ post.body }}
                        </p>
                        <button
                            class="btn btn-primary"
                            (click)="addToFavorites(post.title)"
                        >
                            Aggiungi ai preferiti
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <router-outlet />
</div>
<app-footer></app-footer>
