<app-header></app-header>

<!-- Main content -->
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique totam
    eligendi ipsum officia dolorem et optio reiciendis corrupti quia! Sapiente
    voluptate earum corrupti vel voluptatibus reprehenderit ipsam aperiam
    ratione consequatur.
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
    necessitatibus asperiores animi rerum, ut, ratione numquam cupiditate fugit
    nam ullam accusamus. Alias consequatur veritatis ea, aliquam quam amet ipsa
    magni.
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
    necessitatibus asperiores animi rerum, ut, ratione numquam cupiditate fugit
    nam ullam accusamus. Alias consequatur veritatis ea, aliquam quam amet ipsa
    magni.
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
    necessitatibus asperiores animi rerum, ut, ratione numquam cupiditate fugit
    nam ullam accusamus. Alias consequatur veritatis ea, aliquam quam amet ipsa
    magni.
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
    necessitatibus asperiores animi rerum, ut, ratione numquam cupiditate fugit
    nam ullam accusamus. Alias consequatur veritatis ea, aliquam quam amet ipsa
    magni.
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
    necessitatibus asperiores animi rerum, ut, ratione numquam cupiditate fugit
    nam ullam accusamus. Alias consequatur veritatis ea, aliquam quam amet ipsa
    magni.
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
    necessitatibus asperiores animi rerum, ut, ratione numquam cupiditate fugit
    nam ullam accusamus. Alias consequatur veritatis ea, aliquam quam amet ipsa
    magni.
</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci,
    necessitatibus asperiores animi rerum, ut, ratione numquam cupiditate fugit
    nam ullam accusamus. Alias consequatur veritatis ea, aliquam quam amet ipsa
    magni.
</p>

<router-outlet />
<app-footer></app-footer>
