<app-header></app-header>

<!-- Main content -->
<!-- Rooms available -->
<main>
    <div class="main-grid-item">
        <h2>Stanze disponibili:</h2>
        <div class="room-ctn">
            <ng-container *ngFor="let room of roomList; let i = index">
                <div
                    class="room-item"
                    *ngIf="room.disponibile"
                    (click)="reserveRoom(room.id, i)"
                >
                    <div>
                        <p><strong>Tipologia: </strong>{{ room.tipologia }}</p>
                        <p>{{ room.descrizione }}</p>
                    </div>
                    <div class="room-price">{{ room.prezzo }}$</div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="main-grid-item">
        <!-- Reserved rooms -->
        <h2>Stanze prenotate:</h2>
        <div class="room-ctn">
            <ng-container *ngFor="let room of reservedRooms; let i = index">
                <div class="room-item" *ngIf="room.disponibile">
                    <div>
                        <p><strong>Tipologia: </strong>{{ room.tipologia }}</p>
                        <p>{{ room.descrizione }}</p>
                    </div>
                    <button
                        class="remove-room"
                        (click)="cancelReservation(room.id, index)"
                    >
                        Rimuovi prenotazione
                    </button>
                </div>
            </ng-container>
        </div>

        <p><strong>Incasso: </strong>{{ totalPrice }}$</p>
    </div>
</main>
<app-footer></app-footer>
<router-outlet />
