/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
}

body{
    padding-left: 30px; 
    padding-right: 30px; 
}