<div class="container mt-3">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="card m-2" *ngFor="let photo of selectedAlbum">
            <a [href]="photo.imgUrl" target="_blank">
                <img
                    [src]="photo.imgUrl"
                    class="card-img-top"
                    alt="thumbnail"
                />
            </a>
            <div class="card-body">
                <p class="card-text">{{ photo.title }}</p>
            </div>
        </div>
    </div>
</div>
